.slider
        {
            background-color: antiquewhite;
        }

        .nav-item {
            font-weight: bold;
        }

        .bton {
            width: 6rem;
            border-radius: 50px;
            background-color: white;
            color: black;
            font-weight: bold;
            border: none;
            outline: none;
        }
        .bton:hover{
            background-color: black;
            color: white;
            transition: background-color 0.9s ease;
        }
    
        .fafa{
            font-size: 1.5rem;
            color: rgb(1, 1, 66);
            
        }
        .fafa:hover{
            color: white;
            transition: color 0.5s ease;

            
        }

        .hero-img--section{
            box-shadow: 0.3px 0.3px 0.3px 0.1px;
        }

    .nav-item{
        margin-right: 20px;
    }
    .social-links a {
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: rgb(238, 255, 0);
        background: var(--main-color);
        transition: .5s ease;
    }
    .social-links a:hover {
        box-shadow: 0 0 1rem var(--main-color);
        color: darkturquoise;
    }
    
    .social-links a i{
        font-size: 1.5rem;
        color: var(--second-bg-color);
    }